.searchDiv {
    width: 100%;
    text-align: center;
    padding: 10px;

    .searchBar {
        text-align: center;
        padding: 7px;
        width: 300px;
        border-radius: 10px;
        border: none;

        &:focus {
            outline: none;
        }
        
    }
}
